/* No CSS */
/* orange: #ff8848; - #e7621b; rgb(231, 98, 27) */
/* green:  #15b558; - #03933e; rgb(3, 147, 62)  */
/* white:  #000000; - #ebebeb */
.bg-orange-light {
  background-color: #ff8848;
}

body {
  margin: 0;
  font-family: "DM Sans", "sans-serif";
  background: linear-gradient(119.76deg, rgba(231, 98, 27, 0.1) 35.95%, rgba(255, 136, 72, 0.1) 79%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.btn-warning {
  color: white;
  background-color: #ff8848;
  border-color: #ff8848;
}

.btn-warning:hover {
  color: white;
  background-color: #e7621b;
  border-color: #c85d22;
}

.form-group label {
  color: #646464;
  margin-bottom: 0.2rem;
}

ul {
  padding-left: 20px;
}

.card-header {
  background: #ff8848;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}

.bold {
  font-weight: 600;
}

.unit {
  color: inherit;
  font-size: 0.7em;
  opacity: 0.8;
}

.val {
  font-size: 1rem;
  font-weight: 600;
}

.bg-white {
  margin-top: 2rem;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem 3rem;
  -webkit-box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

.form-title {
  font-weight: 600;
  font-size: 2em;
  color: #15b558;
  margin: 0 auto 0.6em 0;
}

.form-subtitle {
  margin-bottom: 1rem;
  color: #e7621b;
  font-size: 1.3rem;
}

.unit {
  color: inherit;
  font-size: 0.7em;
  opacity: 0.8;
}

@media (min-width: 992px) {
  .col-lg-divide-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
    padding: 0;
  }
}

@counter-style circled-alpha {
  system: fixed;
  suffix: " ";
  symbols: "*" "**" "***" "****" "*****";
}

.ol-star {
  margin-left: 0;
  padding-right: 0;
  list-style: circled-alpha;
}

/* HOME */
.Home .home-register-side {
  background: #ff8848;
  height: 94.3vh;
}

.Home .home-register-side .tagline {
  color: white;
  margin: 4vw 6vw;
}

.Home .home-register-side .tagline .medium {
  font-size: calc(1rem + 1.5vw);
}

.Home .home-register-side .tagline .large {
  font-size: calc(4rem + 1vw);
}

.Home .home-register-side .tagline .small {
  font-size: calc(1.2rem + 0.7vw);
}

.Home .home-register-side .tagline .btn {
  margin-top: 2em;
  font-size: 1.5em;
}

/* TERMS */
.Terms {
  max-width: 63rem;
  margin: 1rem auto;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem 4rem 3rem 3rem;
  -webkit-box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

.Terms .form-title {
  font-weight: 600;
  font-size: 2em;
  color: #15b558;
  margin: 0.5em auto 0.5em 0;
}

.Terms .form-sub-title {
  font-size: 1.3rem;
  margin-bottom: 0.6rem;
  opacity: 0.85;
}

.Terms .sub-title {
  font-size: 1.2rem;
  margin: 2rem auto 1rem auto;
  text-align: center;
  color: #e7621b;
}

.Terms li li,
.Terms p {
  color: #7e7e7e;
  font-size: 1rem;
}

.Terms strong {
  font-weight: 600;
  color: #202020;
}

.Terms .common-ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
  color: #e7621b;
  font-size: 1.1rem;
  font-weight: 600;
}

.Terms .common-ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

.Terms .common-ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

.Terms li .common-ol > li:before {
  content: counters(item, ".") " ";
}

.Terms .lower-alpha {
  list-style-type: lower-alpha;
}

.Terms .lower-alpha > li:before {
  display: table-cell;
  padding-right: 0.6em;
}

/* REGISTER */
.Register .Field input[type="number"] {
  -moz-appearance: textfield;
}

.Register .Field input::-webkit-outer-spin-button,
.Register .Field input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* PAYMENT PAGE */
.Payment {
  max-width: 63rem;
  margin: 1rem auto;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem 3rem 3rem 3rem;
  -webkit-box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

.Payment .jumbotron {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

.Payment .form-title {
  font-weight: 600;
  font-size: 2vw;
  color: #15b558;
  margin: 0.5em auto 0.5em 0;
}

.Payment ul {
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margins */
  font-size: 1.1rem;
  font-weight: 600;
}

.Payment ul li ul {
  font-size: 1rem;
  font-weight: 400;
}

.Payment .bank {
  margin: 1rem 0;
}

.Payment .or {
  margin: 0.8rem 0;
}

.Payment .email {
  font-weight: 600;
  cursor: pointer;
}

.Payment .email:hover {
  text-decoration: underline;
}

/* DASHBOARD PAGE */
.Dashboard .expire {
  font-size: 0.9rem;
  margin-right: 1rem;
}

.Dashboard .sub-title {
  font-size: 1.3rem;
  margin-bottom: 0.6rem;
  opacity: 0.85;
}

.Dashboard .card-header {
  font-size: 1.1rem;
  font-weight: 600;
  background: #e7621b;
  color: white;
}

.Dashboard .card-header-not-selected {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  background-color: #ff8848;
  color: white;
}

.Dashboard table {
  max-width: 40rem;
  margin: 0 auto;
  border: 1px solid #dee2e6;
  text-align: center;
}

.Dashboard th {
  border: none;
  padding: 9px;
  text-align: center;
  background-color: #ff8848;
  color: white;
}

.Dashboard .btn-add-addon {
  margin: 1rem auto;
  width: 100%;
}

.validated .invalid {
  border-color: #dc3545;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}
/*# sourceMappingURL=App.css.map */