/* No CSS */ /*# sourceMappingURL=App.css.map   */
/* orange: #ff8848; - #e7621b; rgb(231, 98, 27) */
/* green:  #15b558; - #03933e; rgb(3, 147, 62)  */
/* white:  #000000; - #ebebeb */

$orange: #e7621b;
$orange-light: #ff8848;
$green: #03933e;
$green-light: #15b558;

.bg-orange-light {
  background-color: #ff8848;
}

body {
  margin: 0;
  font-family: "DM Sans", "sans-serif";
  background: linear-gradient(
    119.76deg,
    rgba(231, 98, 27, 0.1) 35.95%,
    rgba(255, 136, 72, 0.1) 79%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.btn-warning {
  color: white;
  background-color: $orange-light;
  border-color: $orange-light;
}
.btn-warning:hover {
  color: white;
  background-color: $orange;
  border-color: #c85d22;
}

.form-group label {
  color: #646464;
  margin-bottom: 0.2rem;
}

ul {
  padding-left: 20px;
}

.card-header {
  background: $orange-light;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}

.bold {
  font-weight: 600;
}

.unit {
  color: inherit;
  font-size: 0.7em;
  opacity: 0.8;
}

.val {
  font-size: 1rem;
  font-weight: 600;
}

.bg-white {
  margin-top: 2rem;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem 3rem;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

.form-title {
  font-weight: 600;
  font-size: 2em;
  color: $green-light;
  margin: 0 auto 0.6em 0;
}

.form-subtitle {
  margin-bottom: 1rem;
  color: $orange;
  font-size: 1.3rem;
}

.unit {
  color: inherit;
  font-size: 0.7em;
  opacity: 0.8;
}

@media (min-width: 992px) {
  .col-lg-divide-5 {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0;
  }
}
@counter-style circled-alpha {
  system: fixed;
  suffix: " ";
  symbols: "*" "**" "***" "****" "*****";
}

.ol-star {
  margin-left: 0;
  padding-right: 0;
  list-style: circled-alpha;
}

/* HOME */
.Home {
  .home-register-side {
    background: $orange-light;

    height: 94.3vh;

    .tagline {
      color: white;
      margin: 4vw 6vw;

      .medium {
        font-size: calc(1rem + 1.5vw);
      }

      .large {
        font-size: calc(4rem + 1vw);
      }

      .small {
        font-size: calc(1.2rem + 0.7vw);
      }

      .btn {
        margin-top: 2em;
        font-size: 1.5em;
      }
    }
  }
}

/* TERMS */
.Terms {
  max-width: 63rem;
  margin: 1rem auto;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem 4rem 3rem 3rem;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);

  .form-title {
    font-weight: 600;
    font-size: 2em;
    color: $green-light;
    margin: 0.5em auto 0.5em 0;
  }

  .form-sub-title {
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
    opacity: 0.85;
  }

  .sub-title {
    font-size: 1.2rem;
    margin: 2rem auto 1rem auto;
    text-align: center;
    color: $orange;
  }

  li li,
  p {
    color: rgb(126, 126, 126);
    font-size: 1rem;
  }

  strong {
    font-weight: 600;
    color: rgb(32, 32, 32);
  }

  .common-ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
    color: $orange;
    font-size: 1.1rem;
    font-weight: 600;
  }

  .common-ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
  }

  .common-ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
  }

  li .common-ol > li:before {
    content: counters(item, ".") " ";
  }

  .lower-alpha {
    list-style-type: lower-alpha;
  }

  .lower-alpha > li:before {
    display: table-cell;
    padding-right: 0.6em;
  }
}

/* REGISTER */
.Register {
  .Field {
    input[type="number"] {
      -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}

/* PAYMENT PAGE */
.Payment {
  max-width: 63rem;
  margin: 1rem auto;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem 3rem 3rem 3rem;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);

  .jumbotron {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
  }

  .form-title {
    font-weight: 600;
    font-size: 2vw;
    color: $green-light;
    margin: 0.5em auto 0.5em 0;
  }

  ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    font-size: 1.1rem;
    font-weight: 600;
  }

  ul li ul {
    font-size: 1rem;
    font-weight: 400;
  }

  .bank {
    margin: 1rem 0;
  }

  .or {
    margin: 0.8rem 0;
  }

  .email {
    font-weight: 600;
    cursor: pointer;
  }

  .email:hover {
    text-decoration: underline;
  }
}

/* DASHBOARD PAGE */
.Dashboard {
  .expire {
    font-size: 0.9rem;
    margin-right: 1rem;
  }

  .sub-title {
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
    opacity: 0.85;
  }

  .card-header {
    font-size: 1.1rem;
    font-weight: 600;
    background: $orange;
    color: white;
  }

  .card-header-not-selected {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    background-color: $orange-light;
    color: white;
  }

  table {
    max-width: 40rem;
    margin: 0 auto;
    border: 1px solid #dee2e6;
    text-align: center;
  }

  th {
    border: none;
    padding: 9px;
    text-align: center;
    background-color: $orange-light;
    color: white;
  }

  .btn-add-addon {
    margin: 1rem auto;
    width: 100%;
  }
}

.validated .invalid {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}
